<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ManyConsole" version="1.0.0.1" targetFramework="net461" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="PlayFabAllSDK" version="1.18.171016" targetFramework="net461" />
  <package id="SimpleInjector" version="4.0.12" targetFramework="net461" />
</packages>